.topnav {
    background-color: rgba(47, 13, 78, 0.123);
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    size: 2px;
  }

.topnav .btns {
    font-size: 30px;
    float: left;
    color: #00ffaa;
    text-align: center;
    font-family: arial;
}

.topnav a {
    padding: 0px 7px;
    font-size: 30px;
    float: right;
    color: #10b17b;
    font-family: courier;
    text-decoration: none;
}

.topnav a:hover {
    color: #0e8d63;
}